.screen
{
    height: 100vh;
    width: 100vh;
    color: black !important;
}

.game-container
{
    width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-container
{
    display: flex;
    flex-direction: row;
}
.random-shape-container
{
    width: 100%;
    height: 300px;
    display: flex;
}

.bar
{
    width: 100px;
    border: white solid 1px;
    height: 10px;
    background-color: red;
}

.balance-base {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid dimgray;
}
