.triangle
{
    width: 0px;
    height: 0px;
    display: flex;
    position: relative;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid white;
    transition: 1s
}

.weight-text
{
    margin-top: 10px;
    margin-left: -4px;
}

.square {
    background: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    transition: 1s;
}

.circle
{
    background: #210098;
    border-radius: 50%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    width: inherit;
    height: inherit;
}